@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
:root{
    --main: #143516;
    --white: #FFFEFB;
    --secondary: #2E8A47;
    --third: #0F3931;
    --dark: #010602;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: var(--dark);
    color: white;
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 2;
}
header div{
    display: flex;
    align-items: center;
    padding: 1.12em;
}
.icon-profile{
    font-size: 1.8em;
}
#menu >ul{
    display: flex;
    list-style: none;
}
#menu>ul>li{
    margin: 0 1.2em;
}

.about{
    position: relative;
    height: 80vh;
    background-color: var(--third);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.flex-row{
    display: flex;
    align-items: center;
}
.Titulo{
    font-size: 2em;
    color: white;
}
.me>h1{
    padding: 1.2em ;
    text-align: center;
    font-size: 1.5rem;
}
.profile-photo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: #143516 solid 2px;
}
.profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#me-info{
    align-items: center;
    justify-content: center;
}
.my-info{
    text-align: justify;
    margin: 1em 2em;
    width: 60%;
    font-size: 1.2em;
}
.grid-col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.skill{
    width: 100%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.skill p{
    font: 14px;
}
.skill span{
    font-size: 95px;
}
.skill:hover  span{
    transform: scale(100px);
    transition: transform 1ms;
}
/*Responsive*/
@media (max-width: 789px){
    .flex-row{
        flex-direction: column;
    }
    .Titulo{
        font-size: 1.4em;
    }
    .grid-col{
        grid-template-columns: repeat(2,1fr);
    }
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



/*DISEÑO SVG PARA EL FINAL DEL DIV*/
.custom-shape-divider-bottom-1633444838 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633444838 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1633444838 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-top-1633474602 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1633474602 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
}

.custom-shape-divider-top-1633474602 .shape-fill {
    fill: #FFFFFF;
}